@import "../../../styles/variable.scss";

.disabled-button {
    color: white !important;
}

.articledetail {
    .breadcrumb {

        margin-bottom: 20px;
        padding: 10px;
        background-color: whitesmoke;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            margin: 0;
            color: gray;
        }
    }

    .content-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    h1 {
        margin-bottom: 32px;
        color: white;
        text-transform: uppercase;
    }

    .main-content {
        display: flex;
        justify-content: center;
        gap: 20px;

        .info-article {
            border: 2px solid $soft-bg;
            width: 70%;
            padding: 20px;

            h2 {
                margin-bottom: 50px;
                text-align: left;
            }

            .ant-select-selector {
                span {
                    color: white !important;
                }


            }

            .tags {
                .ant-select-selector {
                    span {
                        color: white !important;
                    }

                    .ant-select-selection-item {
                        background-color: gray;
                    }
                }

            }

        }

        .info-ads {
            width: 30%;
            border: 2px solid $soft-bg;
            padding: 20px;

            h2 {
                margin-bottom: 50px;
                text-align: left;
            }

            form {
                margin: 0 auto;
            }

            .ant-select-selector {
                span {
                    color: white !important;
                }


            }

            .info {
                color: white;

            }

            .article {
                margin-top: 20px;
            }

            .comment {
                margin-top: 20px;

                .list {

                    .listItem {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 30px;
                        gap: 20px;

                        .commentContent {
                            // font-size: 20px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            width: 80%;

                            p {
                                word-break: break-word;
                                overflow-wrap: break-word;
                            }
                        }

                        .user {
                            display: flex;
                            gap: 10px;
                            flex-direction: column;
                            align-items: flex-end;
                            justify-content: space-between;
                            width: 20%;

                            img {

                                width: 40px;
                                height: 40px;
                                object-fit: cover;
                                border-radius: 50%;

                            }

                            .userTexts {

                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                align-items: flex-end;
                                // .username {
                                //     font-size: 20px;
                                // }

                                .email {
                                    font-size: 12px;
                                }
                            }
                        }

                    }
                }
            }

        }



        label {
            color: white;
        }


        .ant-upload {
            button {
                color: white;

                span {
                    color: white
                }

            }
        }
    }
}