  .login-container {
    background-color: #2e2e48;
    border-radius: 20px;
    box-shadow: 10px 15px 10px 15px rgba(0,0,0,0.2);
    padding: 2rem;
    max-width: 400px;
    width: 90%;
  }

  @media (max-width: 576px) {
    .login-container {
      width: 95%;
      padding: 1.5rem;
    }
  }

  .styled-button {
    background-color: #255dc9;
    color: white;
    border-radius: 20px;
    padding: 0.5rem 2rem;
  }